:root {
  --gdm-fg: #ffffff;
  --gdm-fg-disabled: #98a7cfdb;

  --gdm-bg: #121212;
  --gdm-bg2: #4d4d4d;
  --gdm-bg-hover: #00000080;

  --gdm-border: #787878;

  /* overwrite Google variables */
  --gm-hairlinebutton-outline-color: var(--gdm-border) !important;
  --dt-background: var(--gdm-bg) !important;
  --dt-tertiary: #188038 !important;
}


/* 1 Styles for all Google pages */
  /* Dark bg and light fg */
  html, body, .gdm-make-dark, #docs-chrome, #docs-editor-container, .docs-titlebar-buttons, .companion-guest-app-switcher, #docs-toolbar-wrapper, #docs-menubar .menu-button, #viewModeButton, #docs-meet-in-editors-entrypointbutton, #grid-bottom-bar, .companion-collapser-button, .goog-toolbar-menu-button, #formula-bar, #t-formula-bar-input-container *, #formula-bar-name-box-wrapper div:first-child, #t-name-box, .docs-sheet-tab, #grid-bottom-bar tbody tr:last-child td:last-child div, .gdm-page-drive div#drive_main_page > div > div:not(:first-of-type), .gdm-page-drive div#drive_main_page > div > div:nth-of-type(5) > div > div, .gdm-page-drive c-wiz, .gdm-page-drive c-wiz > div > div, .gdm-page-drive #drive_main_page c-wiz > div > c-wiz > div > div:nth-of-type(2) > div > div > div > div > div > div > div > div, .gdm-page-drive div#drive_main_page c-wiz > div > c-wiz > div > div:nth-of-type(2) > div > div > div > div > div > div:nth-of-type(2) > div, .gdm-page-drive form > div:last-of-type > div, div[class][aria-haspopup=true], div[class][aria-haspopup=true]::after, .gdm-page-drive div#drive_main_page > div:nth-of-type(2), .gdm-page-ogs > div > c-wiz > div > div > c-wiz > div > div, .gdm-page-ogs > div > c-wiz > div > div > c-wiz > div > div > div:last-of-type a[class], .gdm-page-ogs.gdm-win-name-account c-wiz div[role=dialog], .gdm-page-accounts div[aria-hidden="true"], .gdm-page-docs div.docs-toolbar-more-toolbar, .gdm-page-docs div.docs-homescreen-gb-container header {
    background-color: var(--gdm-bg) !important;
    background-image: none !important;
    color: var(--gdm-fg) !important;
    border-color: transparent !important;
  }

  /* Only light fg */
  :not([disabled]) *:not([disabled]) {
  /* .gdm-page-drive c-wiz c-wiz c-wiz c-wiz c-wiz c-wiz c-wiz > div > div > div > div:nth-of-type(2) > div, .gdm-page-drive form > div:last-of-type > div > div > div:not([aria-selected=true]) > div:last-of-type, .gdm-page-drive header > div:nth-of-type(2) div a[title=Drive] > span, .gdm-page-drive nav div[role=tree] div[role=treeitem] div > span { */
    color: var(--gdm-fg) !important;
  }

  /* Disabled stuff */
  #docs-menubar .menu-button.goog-control-disabled {
    color: var(--gdm-fg-disabled) !important;
  }

  /* Other bg color */
  .gdm-page-drive form, .gdm-page-drive nav > div:nth-of-type(2) > div[aria-selected=true] > div, .gdm-page-drive form > div:last-of-type > div > div > div > div > div, .gdm-docs-document div#docs-editor-container div#docs-editor div#kix-appview div.kix-appview-editor-container div.kix-appview-editor, .gdm-page-docs div.goog-menuitem-highlight, .gdm-page-docs div[class*="docs-"][class*="-alwaysvisiblecontentholder"], .gdm-page-docs div.docs-homescreen-item-container, .gdm-page-docs div.docs-homescreen-itemholder-content.docs-homescreen-floater-header, .gdm-page-docs div.docs-homescreen-list-item {
    background-color: var(--gdm-bg2) !important;
    color: var(--gdm-fg) !important;
  }

  /* Dark borders */
  .gdm-page-drive div#drive_main_page c-wiz > div > c-wiz > div > div:nth-of-type(2) > div > div > div, .gdm-page-drive form > div:last-of-type > div > div > div > div > div, .gdm-page-docs div.titlebar-request-access-button {
    border-color: var(--gdm-border) !important;
  }

  /* No borders */
  .gdm-page-drive div#drive_main_page > div:nth-of-type(2) > div:nth-of-type(6) > div, .gdm-page-docs div.docs-companion-app-switcher-container {
    border: none !important;
    border-color: transparent;
    border-width: 0px;
    border-style: none;
  }

  /* Dark hover */
  div:hover > div[data-target=folder], [guidedhelpid="folder_path_button"]:hover > div, .gdm-page-ogs.gdm-win-name-account c-wiz a:is([data-email], [data-aal]):hover, .gdm-page-docs div.goog-toolbar-button.goog-toolbar-button-hover {
    background: var(--gdm-bg-hover) !important;
  }

  /* Inverse colors */
  .gdm-docs-document canvas.kix-canvas-tile-content, div.goog-menuitem-checkbox, .gdm-page-docs div.kix-cursor-caret {
    filter: invert(1);
  }

  /* Scrollbars */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.711) !important;
  }
/* 1 END */


/* 2 Google Sheets */
  .gdm-docs-spreadsheets .docs-sheet-tab {
    border-color: var(--gdm-border) !important;
    border-top-width: 0px !important;
    margin-top: 1px !important;
  }

  .gdm-docs-spreadsheets .companion-collapser-button-container {
    border-left: 1px solid transparent;
    box-sizing: border-box;
  }

  .gdm-docs-spreadsheets .app-switcher-button-hover {
    background-color: var(--gdm-bg-hover) !important;
  }
/* 2 END */


/* 3 Google Drive */
  .gdm-page-drive div > div > svg, .gdm-page-drive button > svg, .gdm-page-drive span > div > svg {
    color: var(--gdm-fg) !important;
    opacity: 0.9 !important;
  }

  .gdm-page-drive c-wiz c-wiz c-wiz c-wiz c-wiz c-wiz c-wiz > div.gdm-drive-file-selected > div {
    background-color: var(--gdm-bg2) !important;
  }

  .gdm-page-drive button[guidedhelpid="new_menu_button"] {
    background: var(--dt-tertiary) !important;
    color: var(--gdm-fg) !important;
  }

  .gdm-page-drive c-wiz > c-wiz:nth-of-type(2) > div[class]:last-of-type {
    border-width: 1px 0px 0px 0px;
  }
/* 3 END */


/* 4 Google Docs */
  .gdm-docs-document div.companion-collapser-button-container {
    border-color: var(--gdm-border);
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    box-sizing: border-box;
  }

  .gdm-docs-document canvas.kix-canvas-tile-content {
    border-radius: 5px;
  }
/* 4 END */


/* 5 All Google Docs apps */
  .gdm-page-docs input.docs-title-input, .gdm-page-docs div.goog-toolbar-button {
    background: transparent !important;
  }

  .gdm-page-docs :not([disabled]) .docs-icon:not([disabled]) :not([class*=color]) {
    filter: brightness(5);
  }

  .gdm-page-docs :is(#boldButton, #italicButton, #underlineButton, #docs-toolbar-mode-switcher, div.docs-ruler-indent-first-line, div.docs-ruler-indent-start, div.docs-toolbar-more-button-inner-box) * {
    filter: none;
  }

  .gdm-page-docs div.docs-ruler {
    filter: invert(0.9);
  }

  .gdm-page-docs div.goog-menu.goog-menu-vertical {
    border: 1px solid var(--gdm-border) !important;
    border-width: 0px 1px 1px 1px !important;
    margin-top: 2px !important;
    border-top-right-radius: 0px !important;
  }

  .gdm-page-docs div#docs-menubars {
    border-bottom: 1px solid var(--gdm-border);
  }

  .gdm-page-docs div.companion-app-switcher-container {
    border-color: var(--gdm-border) !important;
  }
/* 5 END */


/* 6 Google Ogs (account stuff) */
  /*.gdm-page-ogs.gdm-win-name-account */
/* 6 END */


/* 7 Google Accounts */
  .gdm-page-accounts div#initialView {
    background-color: var(--gdm-bg) !important;
  }
/* 7 END */